.Add{
    display: flex;
    justify-content: center;
    .container{
        width: 1200px;
        padding: 50px 0px;
        h1{
            color: #555;
            font-weight: 300;
            margin-bottom: 30px;
        }
        .sections{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            .left,.right{
                display: flex;
                flex: 1;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;
                label{
                    color: #555;
                    font-size: 18px;
                }
                input, select, textarea{
                    padding: 20px;
                }
                button{
                    border: none;
                    padding: 20px;
                    background-color: #1dbf73;
                    color: white;
                    font-weight: 500;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
            .right{}
        }
    }
}