.Orders{
    display: flex;
    justify-content: center;
    .container{
        width: 1350px;
        padding: 50px 0px;
        // .title{}
        table{
            width: 100%;
            tr,thead,tbody{
                height: 50px;
                th{
                    text-align: left; 
                }
                td{
                    .img{
                        width: 50px;
                        height: 30px;
                        object-fit: cover;
                    }
                    .contact{
                        width: 23px;
                        cursor: pointer;
                    }
                }
                &:nth-child(even){
                    background-color: #1dbf730f;
                }
            }
        }
    }
}